Taki-Assosiation/Taki-Assosiation/Taki-AssosiationUI/Web References/WebService/TakiWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SignIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SignInResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignUp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="birthDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="fName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignUpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SignUpResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFriendNames">
        <s:complexType />
      </s:element>
      <s:element name="GetFriendNamesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFriendNamesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUserDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserDetailsResult" type="tns:WSUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WSUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="rank" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="level" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="xp" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="elo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="birthDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetFriends">
        <s:complexType />
      </s:element>
      <s:element name="GetFriendsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFriendsResult" type="tns:ArrayOfWSUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfWSUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WSUser" nillable="true" type="tns:WSUser" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllRanks">
        <s:complexType />
      </s:element>
      <s:element name="GetAllRanksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllRanksResult" type="tns:ArrayOfWSRank" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfWSRank">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WSRank" nillable="true" type="tns:WSRank" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WSRank">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="lowestElo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="range" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllUsersInRank">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rank" type="tns:WSRank" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllUsersInRankResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllUsersInRankResult" type="tns:ArrayOfWSUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsSessionConnected">
        <s:complexType />
      </s:element>
      <s:element name="IsSessionConnectedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsSessionConnectedResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetConnectedUser">
        <s:complexType />
      </s:element>
      <s:element name="GetConnectedUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetConnectedUserResult" type="tns:WSUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SignInSoapIn">
    <wsdl:part name="parameters" element="tns:SignIn" />
  </wsdl:message>
  <wsdl:message name="SignInSoapOut">
    <wsdl:part name="parameters" element="tns:SignInResponse" />
  </wsdl:message>
  <wsdl:message name="SignUpSoapIn">
    <wsdl:part name="parameters" element="tns:SignUp" />
  </wsdl:message>
  <wsdl:message name="SignUpSoapOut">
    <wsdl:part name="parameters" element="tns:SignUpResponse" />
  </wsdl:message>
  <wsdl:message name="GetFriendNamesSoapIn">
    <wsdl:part name="parameters" element="tns:GetFriendNames" />
  </wsdl:message>
  <wsdl:message name="GetFriendNamesSoapOut">
    <wsdl:part name="parameters" element="tns:GetFriendNamesResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserDetails" />
  </wsdl:message>
  <wsdl:message name="GetUserDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetFriendsSoapIn">
    <wsdl:part name="parameters" element="tns:GetFriends" />
  </wsdl:message>
  <wsdl:message name="GetFriendsSoapOut">
    <wsdl:part name="parameters" element="tns:GetFriendsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllRanksSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllRanks" />
  </wsdl:message>
  <wsdl:message name="GetAllRanksSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllRanksResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllUsersInRankSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllUsersInRank" />
  </wsdl:message>
  <wsdl:message name="GetAllUsersInRankSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllUsersInRankResponse" />
  </wsdl:message>
  <wsdl:message name="IsSessionConnectedSoapIn">
    <wsdl:part name="parameters" element="tns:IsSessionConnected" />
  </wsdl:message>
  <wsdl:message name="IsSessionConnectedSoapOut">
    <wsdl:part name="parameters" element="tns:IsSessionConnectedResponse" />
  </wsdl:message>
  <wsdl:message name="GetConnectedUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetConnectedUser" />
  </wsdl:message>
  <wsdl:message name="GetConnectedUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetConnectedUserResponse" />
  </wsdl:message>
  <wsdl:portType name="TakiWebServiceSoap">
    <wsdl:operation name="SignIn">
      <wsdl:input message="tns:SignInSoapIn" />
      <wsdl:output message="tns:SignInSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SignUp">
      <wsdl:input message="tns:SignUpSoapIn" />
      <wsdl:output message="tns:SignUpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFriendNames">
      <wsdl:input message="tns:GetFriendNamesSoapIn" />
      <wsdl:output message="tns:GetFriendNamesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserDetails">
      <wsdl:input message="tns:GetUserDetailsSoapIn" />
      <wsdl:output message="tns:GetUserDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFriends">
      <wsdl:input message="tns:GetFriendsSoapIn" />
      <wsdl:output message="tns:GetFriendsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRanks">
      <wsdl:input message="tns:GetAllRanksSoapIn" />
      <wsdl:output message="tns:GetAllRanksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsersInRank">
      <wsdl:input message="tns:GetAllUsersInRankSoapIn" />
      <wsdl:output message="tns:GetAllUsersInRankSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsSessionConnected">
      <wsdl:input message="tns:IsSessionConnectedSoapIn" />
      <wsdl:output message="tns:IsSessionConnectedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetConnectedUser">
      <wsdl:input message="tns:GetConnectedUserSoapIn" />
      <wsdl:output message="tns:GetConnectedUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TakiWebServiceSoap" type="tns:TakiWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SignIn">
      <soap:operation soapAction="http://tempuri.org/SignIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignUp">
      <soap:operation soapAction="http://tempuri.org/SignUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFriendNames">
      <soap:operation soapAction="http://tempuri.org/GetFriendNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserDetails">
      <soap:operation soapAction="http://tempuri.org/GetUserDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFriends">
      <soap:operation soapAction="http://tempuri.org/GetFriends" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRanks">
      <soap:operation soapAction="http://tempuri.org/GetAllRanks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsersInRank">
      <soap:operation soapAction="http://tempuri.org/GetAllUsersInRank" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsSessionConnected">
      <soap:operation soapAction="http://tempuri.org/IsSessionConnected" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConnectedUser">
      <soap:operation soapAction="http://tempuri.org/GetConnectedUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TakiWebServiceSoap12" type="tns:TakiWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SignIn">
      <soap12:operation soapAction="http://tempuri.org/SignIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignUp">
      <soap12:operation soapAction="http://tempuri.org/SignUp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFriendNames">
      <soap12:operation soapAction="http://tempuri.org/GetFriendNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserDetails">
      <soap12:operation soapAction="http://tempuri.org/GetUserDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFriends">
      <soap12:operation soapAction="http://tempuri.org/GetFriends" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRanks">
      <soap12:operation soapAction="http://tempuri.org/GetAllRanks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsersInRank">
      <soap12:operation soapAction="http://tempuri.org/GetAllUsersInRank" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsSessionConnected">
      <soap12:operation soapAction="http://tempuri.org/IsSessionConnected" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConnectedUser">
      <soap12:operation soapAction="http://tempuri.org/GetConnectedUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TakiWebService">
    <wsdl:port name="TakiWebServiceSoap" binding="tns:TakiWebServiceSoap">
      <soap:address location="https://localhost:44316/TakiWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="TakiWebServiceSoap12" binding="tns:TakiWebServiceSoap12">
      <soap12:address location="https://localhost:44316/TakiWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>